{% extends '../base.html' %}
{% load staticfiles %}
{% if user.is_authenticated %}
    {% block content %}
    	<!--Django Django Django Django -->
    <section id="django">
        <div class="container" style="margin-top: 100px;margin-bottom: 100px;">
            <div class=" flex-column">
                <h1 class="animated fadeIn color_div">{{ title }}</h1>
                <h5 class="animated fadeIn mb-3">{{ request.user.username }} </h5>
					{% for obj in qs %}

					<a href="{% url 'products:product_details' obj.id %}">{{ obj.title }}</a> </br>
					{% endfor %}
			</div>    
        </div>
    </section>
    {% endblock %}
{% endif %}


